.actor-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  width: 250px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.actor-card:hover {
  transform: scale(1.05);
}

.actor-card h2 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 0;
}

.actor-card p {
  color: #666;
  margin-top: 0.5rem;
}

.actor-card a {
  display: block;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.actor-card a:hover {
  color: #0056b3;
}
