.actor-card {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.actor-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 5px rgba(29, 185, 84, 0.5);
}



.actor-info {
  margin-top: 0;
}

.actor-name {
  font-weight: 600;
  color: #1db954;
}

.actor-link {
  font-weight: 600;
  color: #1db954; 
  background-color: transparent;
  border: 2px solid #1db954; 
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.actor-link:hover {
  background-color: #04250f; 
  color: #ffffff; 
}



body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 1);
  background-image: url('/src/assets/movie_sample.jpeg');
  background-size: cover; 
  background-position: center; 
  backdrop-filter: blur(13px); 
}
